In [10]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [33]:
import warnings
warnings.filterwarnings('ignore') #ignore ipython notebook warnings

In [11]:
dataset_loction = "/Users/sandylee/Google Drive/Flatiron School/london-ds-010620/mod_1/student/KayCee/source/kc_house_data.csv" #variable for dataset location

In [12]:
data = pd.read_csv(dataset_loction) #import dataset

In [13]:
duplicate_properties = data[data.duplicated(subset="id",keep=False)] #extract properties sold more than once into a new dataframe

In [14]:
duplicate_properties.insert(2,"time_diff",0) #add a column for time difference

In [15]:
duplicate_properties.insert(4,"price_diff",0) #add a column for price difference

In [16]:
duplicate_properties.insert(5,"rate_of_price_increase",0) #add a column for the rate of price increase

In [34]:
duplicate_properties["date"] = pd.to_datetime(duplicate_properties['date']) #convert date column to datetime objects from str

In [35]:
duplicate_properties["time_diff"] = pd.to_datetime(duplicate_properties['time_diff']) #convert time_diff column to datetime objects from str

In [19]:
duplicate_properties = duplicate_properties.reset_index() #reset index

In [20]:
duplicate_properties = duplicate_properties.drop("index", 1) #drop duplicate index column

In [21]:
duplicate_properties = duplicate_properties.drop(317) #drop one entry from a property sold 3 times that is causing issues

In [22]:
duplicate_properties = duplicate_properties.reset_index() #reset index (again)

In [23]:
duplicate_properties = duplicate_properties.drop("index", 1) #drop duplicate index column (again)

In [24]:
duplicate_properties['time_diff'] = duplicate_properties.groupby(['id'])['date'].shift(1) #run a lag operation on dates

In [25]:
duplicate_properties['price_diff'] = duplicate_properties.groupby(['id'])['price'].shift(1) #run a lag operation on prices

In [26]:
duplicate_properties["time_diff"] = duplicate_properties['date'] - duplicate_properties['time_diff'] #get the date difference and add it to 'time_diff' column

In [27]:
duplicate_properties["price_diff"] = duplicate_properties['price'] - duplicate_properties['price_diff'] #get the price difference and add it to 'price_diff' column

In [45]:
analysis_df = duplicate_properties.copy() #make a new dataframe for analysis

In [46]:
for row in range(0,len(analysis_df),2):
     analysis_df.drop(index=row,inplace=True) #remove redundant NaN rows

In [47]:
analysis_df.insert(3,"time_diff_seconds",0) #add a column for time difference as an int

In [48]:
analysis_df["time_diff_seconds"] = pd.to_numeric(analysis_df["time_diff"])/1000000000 #convert timedelta obeject to seconds (stored as ns by default)

In [52]:
analysis_df["rate_of_price_increase"] = analysis_df["price_diff"]/(analysis_df["time_diff_seconds"]/86400) #calculate rate of increase in prices

In [101]:
hot_zip_codes = analysis_df.groupby(["zipcode"])["rate_of_price_increase"].mean() #create a Pandas series of rate of the mean rate of price inrease grouped by zip code

In [134]:
hot_zip_codes = analysis_df.groupby(["zipcode"]).mean() #group everything by zipcode and take the mean

In [136]:
hot_zip_codes.drop(columns = ["id", "time_diff_seconds", "price", "price_diff", "bedrooms", "bathrooms"],inplace = True) #remove extranous columns

In [138]:
hot_zip_codes.drop(columns = ["sqft_living", "sqft_lot", "floors", "waterfront", "view", "condition"],inplace = True) #remove extranous columns

In [140]:
hot_zip_codes.drop(columns = ["grade", "sqft_above", "yr_built", "yr_renovated", "sqft_living15", "sqft_lot15"],inplace = True) #remove extranous columns

In [146]:
hot_zip_codes.sort_values(ascending = False, inplace = True, by="rate_of_price_increase")  #sort hot zip codes in descending order

In [145]:
hot_zip_codes

         rate_of_price_increase        lat        long
zipcode
98034               2096.773109  47.708900 -122.221000
98155               1726.637060  47.739350 -122.309000
98126               1669.871795  47.525250 -122.375000
98117               1568.664443  47.685780 -122.386600
98011               1544.117647  47.772100 -122.206000
98177               1470.588235  47.772400 -122.362000
98148               1397.119342  47.461100 -122.324000
98007               1344.377059  47.590900 -122.143500
98199               1327.419492  47.650300 -122.410000
98118               1265.915608  47.547756 -122.276556
98042               1227.112676  47.361500 -122.087000
98074               1183.473195  47.632383 -122.056833
98115               1179.380885  47.684686 -122.305429
98032               1127.812321  47.377200 -122.264500
98133               1046.199544  47.745567 -122.351000
98116                998.062016  47.571100 -122.386000
98052                989.559597  47.670800 -122.143000
98028                946.327684  47.759700 -122.263000
98055                915.043974  47.466550 -122.213000
98103                897.206529  47.662500 -122.346500
98122                880.829016  47.614700 -122.300000
98106                867.161061  47.521960 -122.358600
98072                861.471861  47.773500 -122.133000
98059                812.042804  47.479667 -122.127667
98053                792.962653  47.682400 -122.047667
98003                765.362691  47.324900 -122.306500
98031                756.605527  47.399400 -122.185000
98004                751.600284  47.634250 -122.213000
98144                747.552088  47.581367 -122.291000
98198                715.322553  47.399460 -122.308600
98125                696.392406  47.712500 -122.297286
98030                690.409695  47.375667 -122.207000
98039                684.210526  47.632800 -122.236000
98178                679.096335  47.489600 -122.238000
98045                670.204148  47.461750 -121.752500
98001                625.156451  47.308400 -122.278667
98056                621.417197  47.505550 -122.176500
98146                602.384077  47.496571 -122.346000
98107                556.345980  47.672950 -122.380500
98166                513.548301  47.455850 -122.349500
98070                486.547085  47.414500 -122.463000
98168                472.275009  47.485700 -122.310750
98006                467.091825  47.556988 -122.142750
98024                465.517241  47.558700 -121.904000
98038                456.000524  47.393133 -122.029000
98023                422.984425  47.303771 -122.357286
98188                391.393443  47.449700 -122.289000
98058                362.476431  47.452575 -122.173250
98112                349.206349  47.626500 -122.296000
98002                262.017393  47.307700 -122.217000
98108                254.545455  47.543400 -122.293000
98065                180.036085  47.520400 -121.859667
98075                178.571429  47.589800 -122.052000
98077                156.031469  47.736750 -122.078500
98014                 92.281879  47.645800 -121.904000
98029                 33.472803  47.553400 -122.002000
98027                  0.000000  47.564400 -122.093000
98033                -94.936709  47.687400 -122.161000
98010               -196.078431  47.360200 -121.988000